.app-header {
    width: 100%;
    background-color: #1e6584;
    min-height: 44px;
    max-height: 44px;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    .header-content {
        display: flex;
        justify-self: flex-start;
        flex-direction: row;
    }

    .header-create-button {
        background-color: rgba(255, 255, 255, 0.2);

    }
    .header-content .header-button{
        background-color: transparent;
        img{
            width:1em;
            height: 1em;
            margin-inline-start: 0.2em;
        }
    }

    .header-content .header-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;

    }

    .header-logo {
        color: white;
    }

    .header-create-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .header-svg {
        height: 16px;
        width: 16px;
        line-height: 16px;
    }

    .header-end {
        justify-self: flex-end;
        display:flex;
        align-items: center;
    }
}