.app-header {
    background-color: #1e6584;
<<<<<<< HEAD
    height: rem(44px);
=======
    // height:  rem(44px);
    height:4.736275565123789vh;
>>>>>>> 50adb55fb22aef5a57af3f603118033e240d6871
    display: flex;
    justify-content: space-between;
    position: relative;
    line-height: 20px;
    padding-left: 4px;

    .header-content {
        display: flex;
        justify-self: flex-start;
        flex-direction: row;
    }

    .header-create-button {
        background-color: rgba(255, 255, 255, 0.2);

    }

    .header-content .header-button {
        background-color: transparent;

        img {
            width: 1em;
            height: 1em;
            margin-inline-start: 0.2em;
        }
    }

    .header-content .header-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;

    }

    .header-logo {
        color: white;
        margin: auto 0;
        user-select: none;

    }
    .header-logo:hover{
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .header-create-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .header-end {
        justify-self: flex-end;
        display: flex;
        align-items: center;
    }
<<<<<<< HEAD
}

.header-creating-container{
    position: absolute;
}

.conss {
    position: relative;
    align-self: center;
  }
  
  .header-creating-container {
    width: 250px;
    height: auto;
    background-color: rgb(186, 181, 181);
    text-align: center;
  }
  
  .header-imgs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }
  
  .header-imgs-container img {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
  }
=======

}
>>>>>>> 0f94350c31b2b8b3ca4065a21cb33af39d30e6a5
