.bgc-img {
    // height: 100%;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
          height: calc(100vh - 44px);

  }
.main-app-height{
  // height: 100vh;
      // height: calc(100vh - 44px);
      // color: black;
      // position: absolute;

}

