.board-header-container {
    color: $clr6;
    min-height: rem(44px);
    background: #0000003d;
    padding-bottom: 0.595em;
    display: flex;
    justify-content: space-between;

    .board-header {
        padding: 8px 4px 4px 12px;
        padding-left: rem(29px);
        display: flex;
        flex-wrap: wrap;

        > {
            height: fit-content;
            width: fit-content;
        }

        & button {
            margin-inline-end: 0.3em;
        }

        .board-header-title {
            font-size: rem(18px);
            font-weight: 700;
            padding: 0 12px;
            line-height: 32px;
        }

        .btn-divider {
            border-left: 1px solid #ffffff3d;
            height: 18px;
            margin: 8px 8px 6px 4px
        }

        .icon-overflow {
            @include trelloIconM("\e952")
        }
    }
}

//////////////


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f4f5f7;
    overflow-x: hidden;
    transition: 0.5s;

    .board-menu-navigation-item-link {
        border-radius: 3px;
        display: block;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
    }

    // padding-top: 10px;
    .board-menu-header-title {
        flex: 1;
        line-height: 20px;
        margin: 14px 32px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        transition: margin .12s ease-in;
        white-space: nowrap;
    }

    h3 {
        font-size: 16px;

        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;

    }

    .board-menu-header-divider {
        margin: 0;
    }

    hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 16px 0;
        padding: 0;
        width: 100%;
    }

    a {
        padding: 8px 8px 8px 32px;
        display: block;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
        transition: 0.3s;
        color: #172b4d;

        &:hover {
            background-color: #091e4214;
        }

    }

    .close-btn {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}