@import './board-app-header/create';

.app-header {
    background-color: #1e6584;
    min-height: rem(44px);
    display: flex;
    justify-content: space-between;
    position: relative;
    line-height: 20px;
    padding-left: 4px;
    font-size: 14px;
    align-items: center;

    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;

    }

    .header-content {
        display: flex;
        align-items: center;

        .recent-modal {
            width: 304px;
            cursor: default;
            position: absolute;
            top: 40px;
            background-color: white;
            z-index: 20;
            font-size: 14px;
            color: #172B4D;
            line-height: 18px;
            font-weight: 500;

            header {
                display: flex;
                flex-direction: column;

                div {
                    color: #172b4d;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
                    color: #5e6c84;
                    height: 40px;
                    display: block;
                    line-height: 40px;
                    margin: 0;
                    overflow: hidden;
                    // padding: 0 32px;
                    // position: relative;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;

                }

                .close-btn {
                    position: absolute;
                    right: 10px;
                    top: 3px;
                    color: #2d2e30;

                    * {
                        height: auto;
                        width: 10px;
                    }

                }
            }

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                justify-content: start;
                text-align: left;
                padding: 10px;
                margin: 0;
                width: 100%;
                margin-bottom: 4px;
                gap: 2px;

                :first-child {
                    margin-top: 2px;
                }

                .recent-content {
                    width: 98%;
                    margin-top: 2px;
                    height: 32px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 3px;
                    color: #172B4D;
                    border-radius: 3px;


                    &:hover {
                        cursor: pointer;
                        background-color: #EBECF0;
                    }
                }

                .li-board-img {
                    width: 40px;
                    height: 32px;
                    border-radius: 3px;
                }
            }
        }



    }




    .header-create-button {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        letter-spacing: 0.3px;
        margin-inline-start: 0.7em;
        // margin-top: 0.7em;
        // padding: 6.6px 0.8em;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            background: rgba(9, 30, 66, 0.04);
        }
    }

    .header-content .header-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        min-width: fit-content;
        letter-spacing: 0.3px;
        padding: 5px 8px;

        img {
            display: flex;
            align-items: center;
            width: 1em;
            height: 1em;
            margin-inline-start: 0.55em;
            // margin-top: 0.6em;
        }
    }

    .header-content .header-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;

    }

    .header-logo {
        height: 27px;
    padding-top: 3px;
        color: white;
        // margin: auto 0;
        user-select: none;
        margin-inline-end: 0.3em;
        padding-inline-start: 10.5px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        min-width: fit-content;

        img {
            // margin-top: 5px;
            height: 16px;
            width: 16px;
            position: relative;
            top: 1px;
        }
    }

    .el-input--prefix,
    .el-input__wrapper {
        height: 28;
    }

    .header-end {
        gap: 4px;
        margin-right: 5px;
        justify-self: flex-end;
        display: flex;
        align-items: center;
    }

    .el-input__wrapper {
        background-color: rgba(255, 255, 255, 0.2);

        ::placeholder,
        span {
            color: white;

            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
            }
        }
    }
}

.super-exit-buttin {
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    color: #172b4d;
    font-size: 15px;

    &:hover {
        cursor: pointer;
        background: rgba(9, 30, 66, 0.04);
    }
}

.header-creating-container {
    position: absolute;
}

.conss {
    position: relative;
    align-self: center;
}

.header-creating-container {
    z-index: 100;
    color: #172b4d;
    position: absolute;
    right: -119px;
    width: 304px;
    display: flex;
    height: auto;
    // gap: 5px;
    flex-direction: column;
    background-color: #ffffff;
    text-align: start;
    justify-content: center;
    align-items: center;

    .title-icon-create svg {
        height: 16px;
        width: 16px;
    }

    .header-header {
        color: #172b4d97;
        background: #FFFFFF;
        width: 90%;
        text-align: center;
        padding-top: 15px;
        height: 45px;
        border-bottom: rgba(128, 128, 128, 0.332) solid 0.5px;

    }



    .title {
        font-size: 14px;
        font-weight: 400;
    }

    p {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 4px 0 0 0;
        height: 60px;
    }


}

.header-imgs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

.header-imgs-container img {
    width: 55px;
    height: 55px;
    padding-bottom: 10px;
}

.el-input__wrapper {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.25);
    ;
    height: 32px;
    box-shadow: none;
}

.el-input__wrapper {
    .el-input__prefix:hover {
        background-color: transparent;
    }

    input:focus {
        background-color: #ffffff;
    }

}