.board-app{
    background-color: aqua;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/3c139dc0109ed363aec31ed157086458/photo-1658054926223-9816e297d4f9.jpg");
    background-position: right bottom;
}