.sidebar {
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 20;
    top: 44px;
    right: 0;
    background-color: #f4f5f7;
    overflow-x: hidden;
    transition: 0.5s;
    width: 339px;
    transition: 1.5s;
    padding-left: 12px;
    padding-right: 6px;

    &.opened {
        box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
        transform: translateX(0);
    }

    // transition:
    .board-menu-navigation-item-link {
        border-radius: 3px;
        display: block;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
    }

    // padding-top: 10px;
    .board-menu-header-title {
        line-height: rem(20px);
        margin: 16px 32px;
        font-size: em(16px);
        font-weight: 600;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        transition: margin .12s ease-in;

        // flex: 1;
        // line-height: 20px;
        // margin: 14px 32px;
        // overflow: hidden;
        // text-align: center;
        // text-overflow: ellipsis;
        // transition: margin .12s ease-in;
        // white-space: nowrap;
    }

    h3 {
        font-size: 16px;

        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;

    }

    .board-menu-header-divider {
        margin: 0;
    }

    hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 16px 0;
        padding: 0;
        width: 100%;
    }

    a {
        padding: 8px 8px 8px 32px;
        display: block;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
        transition: 0.3s;
        color: #172b4d;
        cursor: pointer;

        &:hover {
            background-color: #091e4214;
        }

    }

    .close-btn {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    p {
        margin: 0 12px;
        font-size: rem(16px);
        font-weight: 700;

        .icon-activity {
            @include trelloIconM("\e900")
        }
    }

    .change-background {

        .content-wrapper {
            box-sizing: border-box;
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 12px 6px 8px 12px;
            width: 100%;
        }

        div {
            box-sizing: border-box;
            cursor: pointer;
            float: left;
            padding: 0 4px;
            position: relative;
            text-align: center;
            width: 50%;
            // margin: 5px;

            img {
                background-color: #dfe1e6;
                background-size: cover;
                border-radius: 8px;
                height: 96px;
                margin-bottom: 8px;
                width: 100%;
            }

            p {
                display: flex;
                justify-content: center;
                margin-top: 8px;
            }
        }




    }

}

.board-background-photos {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow: hidden;
    // position: absolute;
    // text-align: center;
    top: 0;
    width: 100%;

    .search-photos {
        justify-content: center;
        display: flex;
        margin: 0 auto;
        position: relative;
        padding-bottom: 8px;
        width: 100%;
        height: 38px;
        margin-top: 8px;
        // border-bottom: #6966663b solid 0.4px;

        input {
            padding-left: 32px;
            width: 285px;
            height: 36px;

        }

        .icon-search {
            @include trelloIconM("\e960");
            left: 17px;
            position: absolute;
            top: 8px;
            font-size: 16px;
            line-height: 20px;
            margin-left: 10px;
        }


    }

    .board-backgrounds-list {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        margin-top: 20px;

        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // justify-items: center;
        display: inline-flex;
        flex-wrap: wrap;

        justify-content: center;
        // text-align: left;
        gap: 8px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            // margin-bottom: 20px;


            li {
                margin: 0;
                padding: 0;
            }

            .photo {
                width: 131px;
                height: 96px;
                background-size: cover;
                border-radius: 8px;
                display: block;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }

        }



    }

    .board-backgrounds-photos-footer {
        color: #5e6c84;
        padding-top: 8px;

        .unsplash-disclaimer {
            font-size: 12px;
            line-height: 16px;
            text-align: left;
        }
    }

    // }


}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}