.board-header-container {
    color: $clr6;
    min-height: rem(44px);
    background: #0000003d;
    padding-bottom: 0.595em;
    display: flex;
    justify-content: space-between;

    .board-header {
        padding: 8px 4px 4px 12px;
        padding-left: 0.8125rem;
        display: flex;
        flex-wrap: wrap;

        // &> {
        //     height: fit-content;
        //     width: fit-content;
        // }

        & button {
            margin-inline-end: 0.3em;
        }
        .board-header-board{
            cursor:not-allowed;
        }
        .board-header-title {
            font-size: rem(18px);
            font-weight: 700;
            padding-inline-end: 12px;
            line-height: 32px;
        }

        .btn-divider {
            border-left: 1px solid #ffffff3d;
            height: 18px;
            margin: 8px 8px 6px 4px
        }

        .icon-overflow {
            @include trelloIconM("\e952")
        }

        .members {
            display: flex;
            flex-direction: row-reverse;
    }
    .userImg {
        margin-inline-end: -3.5px;
    }
}
}