.board-header-container {
    color:$clr6;
    min-height: rem(44px);
    background: #0000003d;
    padding-bottom: 0.595em;

    .board-header {
        padding: 2.6px 4px 4px 12px;
        padding-left: rem(29px);
        display:flex;
        & button {
            padding: 0.5em;
            margin: 0 rem(8px);
        }
        .board-header-title{
            font-size: rem(18px);
            font-weight: 700;
            padding: 0 12px;
            line-height: 32px;
        }
    }
}