.group-list-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background: linear-gradient(180deg, #0000003d 0, #0000003d 48px, #0000 80px, #0000);
overflow-x: auto;



    .card-task {
        display: block;
        height: 100%;
    }

    .card-task:first-child {
        padding-left: 10px;
    }

    .grp-add-btn {
        color: white;
        margin-left: 8px;
        padding-left: 16.4px;
        font-size: 14px;
        min-width: rem(272px);
        height: rem(40px);
        text-align: start;

        &:hover {
            background-color: #ffffff52;
        }

        span {
            padding-inline-end: 6.2px;
        }
    }
}

// ::-webkit-scrollbar-track   {
//     background: #0000003d;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// background: rgba(136, 136, 136, 0.574);
// height: 195px;

// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// background:#888;
// }
// ::-webkit-scrollbar-thumb {
// // outline: 1px solid slategrey;
// }

// ::-webkit-scrollbar-thumb{
// border-radius: 10px;
    

// }