.group-card-container {
    min-height: 60px;
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    padding-bottom: 8px;
    box-shadow: #00000080 0px 1px 4px 2px;
}