.group-list-container{
    height: 86.5vh;
    display:flex;
    flex-direction: row;
    gap: 8px;

    .card-task {
        display: block;
        height: 100%;
        // margin-top: 9px;

    }

    .card-task:first-child {
        padding-left: 10px;
    }

    .grp-add-btn {
        width: rem(272px);
        height: rem(40px);
        text-align: start;
    }
}