.task-prev-container {
    // overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    width: 95%;
    border-radius: 5px;
    min-height: 33px;
    margin: 0 auto;
    box-shadow: #00000012 0px 0px 1px 2px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    user-select: none;

    .task-pen-icon:hover {
        opacity: 1;
        user-select: none;

    }

    div {
        padding: 6px 8px 2px;
    }

    .task-prev {
        margin: 0, 0, 8px;
        cursor: pointer;
        user-select: none;


    }
}

.card-header {
    min-height: 20px;
    padding: 10px 8px;
    position: relative;
    cursor: pointer;
    user-select: none;

}

.task-pen-icon {
    opacity: 0;
}


.add-btn {
    color: rgb(86, 76, 76);
    background-color: inherit;
    text-align: left;
    width: 80%;
    margin-left: 15px;
    user-select: none;

}

.add-btn:hover {
    cursor: pointer;
    background-color: rgba(42, 36, 36, 0.431)

}