.x-icon {
    color: #6b778c;
    @include trelloIconM("\e91c");
    font-size: 24px;
    line-height: 32px;

    &:hover {
        color: #172b4d;

    }
}


.task-prev-container {
    // overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    width: 95%;
    border-radius: 3px;
    min-height: 33px;
    margin: 1px auto;
    // box-shadow: #00000012 0px 0px 1px 2px;
    box-shadow: 0 1px 0 #091e4240;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    user-select: none;
    flex-direction: column;
    cursor: pointer;

    .task-prev-cover {
        width: 106.4%;
        height: 32px;
        position: relative;
        right: 7.7px;
        bottom: 6px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .task-pen-icon {
        position: absolute;
        right: 10px;
    }

    .task-pen-icon:hover {
        opacity: 1;
        cursor: pointer;
        user-select: none;

    }

    .task-members-container {
        gap: 4px;
        align-self: flex-end;

    }

    div {
        // padding: 6px 5px 2px;
        color: #172b4d;
    }

    .task-prev-checklist {
        letter-spacing: 2.4px;
        font-size: 12px;

        &.chcklist-done {
            background-color: #4db01d;
            border-radius: 3px;
            color: #fff;
            text-overflow: ellipsis;
            padding: 0 2px;
        }

        span {
            font-size: 16px;
        }

        .task-prev-checklist-txt {
            letter-spacing: -0.5px;
            font-size: 12px;
            padding: 0 4px 0 2px;
            vertical-align: top;
            white-space: nowrap;
        }
    }

    .task-prev-comments-txt {
        font-size: 12px;
        padding: 0 4px 0 2px;
        vertical-align: top;
        white-space: nowrap;
    }

    .task-prev-container:hover {
        background-color: #091e4214;
    }

    .task-prev {
        justify-self: flex-start;
        align-self: flex-start;
    }

    .task-prev-details {
        padding-bottom: 8px;
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        align-self: flex-start;
        gap: 12px;
        opacity: 0.75;
        font-size: 16.5px;
        padding-left: 2px;
        margin-top: 8px;
    }

    .task-label-container {
        display: flex;
        flex-direction: row;
        gap: 4px;
        margin-top: -0.8000000000000014px;
        margin-bottom: 5px;
        flex-wrap: wrap;

        // transition: 0.3s;
        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }

    .task-label {
        border-radius: 4px;
        min-width: 40px;
        height: 8px;
        color: transparent;
        font-size: 12px;
        font-weight: 700;
        transition: min-width 0.3s, padding 0.3s linear 0s, height 0.3s linear 0.5s, text-indent 0s linear 0.7s;
        text-align: center;
        text-indent: -250%;
        white-space: nowrap;
        overflow: hidden;
    }

    .ext {
        padding: 0 8px;
        height: 16px;
        line-height: 16px;
        color: white;
        text-indent: 0;
        min-width: 56px;
    }

    .task-prev {
        margin: 0, 0, 8px;
        cursor: pointer;
        user-select: none;
    }

    .icon-list {
        @include trelloIconM("\e91a")
    }

    .icon-comment {
        @include trelloIconM("\e91e")
    }

    .icon-attachment {
        @include trelloIconM("\e908")
    }

    .icon-description {
        @include trelloIconM("\e922")
    }

    .icon-subscribe {
        @include trelloIconM("\e969")
    }

    .task-prev-due-date {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 3px;
        color: #fff;
        padding:2px;
        padding-inline-end:6px;
        cursor:default;

        input[name=prev-date-chkbx] {
            display: none;
            transform: scale(0.8);
            filter: invert(100%) hue-rotate(18deg) brightness(2);
        }

        .due-date-switch {
            display: flex;
            align-items: center;
            justify-content: center;
            width:20px;
            padding-inline-start: 1.4px;
            margin-inline-end: 4.8px;
            &:hover{
                padding-inline-start: 0;
                input[name=prev-date-chkbx] {
                    filter:opacity(50%) brightness(1.7);
                    display: block;
                    cursor:pointer;
                }
    
                .due-date-svg {
                    display: none;
                }
            }
        }
        &:hover{
            filter: saturate(85%) brightness(85%);
        }
    }
}



.task-pen-icon {
    opacity: 0;
}

.add-btn {
    padding-left: 8px;
    background-color: inherit;
    text-align: left;
    margin-top: 1px;
    height: 28px;
    margin-bottom: 3px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 8px;
    line-height: 16.3px;
    user-select: none;
    font-size: 14px;
    font-weight: 400;
    color: #5e6c84;
    position: relative;
    top: 3.1px;
    left: 2.4px;

    .icon-plus {
        font-size: 16px;
        color: #6b778c;
        margin-top: 3px;
    }

}

.add-btn:hover {
    cursor: pointer;
    background-color: #091e4214;
}

.task-prev-container:hover {
    background-color: #f4f5f7;
}

.task-prev {
    justify-self: flex-start;
    align-self: flex-start;
}

.task-prev-details {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: center;
    align-items: center;

    .task-prev-attachments {
        .icon-attachment-txt {
            font-size: 12px;
            padding: 0 4px 0 2px;
            vertical-align: top;
            white-space: nowrap;
        }

    }

}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}