.task-prev-container:hover {
    background-color: #091e4214;
}

.task-description {
    padding-left: 60px
}

.task-prev {
    justify-self: flex-start;
    align-self: flex-start;
}

.task-prev-details {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: center;

}

.task-description-textarea {
    margin-left: 60px;
}

.task-label-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.task-label-label {
    border-radius: 4px;
    width: 64px;
    height: 32px;
}

.details-label-to-add-container {
    /* left: 693.188px; */
    left: 160px;
    top: 160px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    overflow: hidden;
    position: absolute;
    height: 350px;
    /* -webkit-transform: translateZ(0); */
    width: 304px;
    z-index: 70;
}

.details-labels-adding-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.details-label-header {
    padding-top: 6px;
    text-align: center;
}

.label-modal-label {
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    height: 30px;
}

.nd-label-header {
    padding-left: 10px;
    padding-bottom: 5px
}

.label-modal-label span {
    padding-left: 16px;
    line-height: 25px;
    font-weight: bold;
    color: white
}

.label-modal-label:hover {
    cursor: pointer;

}