.task-prev-container {
    // overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    width: 95%;
    border-radius: 5px;
    min-height: 33px;
    margin: 0 auto;
    box-shadow: #00000012 0px 0px 1px 2px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    user-select: none;
    flex-direction: column;

    .task-pen-icon {
        position: absolute;
        right: 10px;
    }

    .task-pen-icon:hover {
        opacity: 1;
        cursor: pointer;
        user-select: none;

    }

    .task-members-container {
        align-self: flex-end;
    }

    div {
        // padding: 6px 5px 2px;
        color: #172b4d;
    }

    .task-prev-container:hover {
        background-color: #091e4214;
    }

    .task-prev {
        justify-self: flex-start;
        align-self: flex-start;
    }

    .task-prev-details {
        padding-bottom: 8px;
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        align-self: flex-start;
        gap: 12px;
        opacity: 0.75;
        font-size: 16.5px;
        padding-left: 2px;
        // margin-top: 6px;
        margin-top: 8px;
    }

    .task-label-container {
        display: flex;
        flex-direction: row;
        gap: 4px;
        margin-top: -0.8000000000000014px;
        margin-bottom: 5px;

    }

    .task-label {
        border-radius: 4px;
        width: 40px;
        height: 8px;
    }

    .task-prev {
        // padding-bottom: 8px;
        margin: 0, 0, 8px;
        cursor: pointer;
        user-select: none;
    }

    .icon-list {
        @include trelloIconM("\e91a")
    }

    .icon-comment {
        @include trelloIconM("\e91e")
    }

    .icon-description {
        @include trelloIconM("\e922")
    }

    .icon-subscribe {
        @include trelloIconM("\e969")
    }
}

.card-header {
    // bottom: 0;
    // cursor: pointer;
    // left: 0;
    // position: absolute;
    // right: 0;
    // top: 0;


    font-weight: 500;
    min-height: 20px;
    padding: 5px 14px;
    position: relative;
    cursor: pointer;
    user-select: none;

    // margin: 0 auto;
    span {
        position: relative;
        top: 5.2px;
        margin-left: 2px;
    }
}

.task-pen-icon {
    opacity: 0;
}

.add-btn {
    color: rgb(86, 76, 76);
    background-color: inherit;
    text-align: left;
    width: 80%;
    margin-left: 15px;
    user-select: none;

}

.add-btn:hover {
    cursor: pointer;
    background-color: rgba(42, 36, 36, 0.431)
}

.task-prev-container:hover {
    background-color: #091e4214;
}

.task-prev {
    justify-self: flex-start;
    align-self: flex-start;
}

.task-prev-details {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: center;
}