@import './task-details/members';
@import './task-details/checklist';

.window-overlay {
    padding-top: 11rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000a3;
    z-index: 20;
    overflow: auto;

}

.task-details {
    position: relative;
    // height: 100%;
    background-color: #f4f5f7;
    border-radius: 2px;
    margin: 48px 0 80px;
    width: 768px;
    min-height: 974px;
    padding: 0 8px 8px 16px;
    z-index: 21;

    .task-details-header {
        margin: 15.2px 34.7px 0.7px 39.3px;
        min-height: 32px;
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: #172b4d;

        .icon-card-detail {
            font-family: trellicons;
            height: 20px;
            width: 20px;
            font-size: 24.2px;
            left: -37.5px;
            position: absolute;
            top: -3px;

            &::before {
                content: "\e912";
            }
        }

        .task-details-ingroup {
            margin-inline-start: 0.1em;
            color: #5e6c84;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .details-window-main {
        float: left;
        margin: 0;
        min-height: 24px;
        padding: 0 8px 8px 16px;
        position: relative;
        width: 552px;
        z-index: 1;



        .details-mem {
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            flex-wrap: wrap;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            min-width: fit-content;
            padding-left: 24.5px;

            ::after {
                clear: both;
                content: "";
                display: table;
            }

            .task-label-container {
                display: flex;
                flex-direction: row;
                gap: 4px;
                flex-wrap: wrap;


                .task-label-label {
                    border-radius: 3px;
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    font-weight: 600;
                    height: 32px;
                    line-height: 32px;
                    margin: 0 4px 4px 0;
                    min-width: 40px;
                    padding: 0 12px;
                    width: auto;
                    cursor: pointer;
                    color: white;
                    white-space: nowrap;
                }
            }
        }

        .details-labels-container {
            min-width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 16.8px;
            margin-bottom: -8.9px;

            .details-labels-title {
                color: #5e6c84;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 5.5px;
                margin-inline-start: 0.6px;
            }

            .details-label-add-btn {
                background-color: #091e420a;
                height: 30px;
                width: 30px;
                text-align: center;
                color: #00000077;
                font-size: 30px;
                border: none;
                border-radius: 3px;
                box-shadow: none;
                cursor: pointer;
                display: block;
                float: left;
                margin: 0 8px 8px 0;
                transition-duration: 85ms;
                transition-property: background-color, border-color, box-shadow;
                transition-timing-function: ease;

            }
        }

        .due-date-container {
            .details-duedate-title {
                color: #5e6c84;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 5.5px;
                margin-inline-start: 0.6px;
            }

            .due-status {
                margin-inline-start: 7px;
                display: inline-block;
                line-height: 16px;
                ;
                color: white;
                font-size: 12px;
                padding: 0 4px;
                border-radius: 2px;
            }

            .due-wrapper {
                margin-inline-start: 2px;
                padding: 6px 12px;
                background-color: rgba(9, 30, 66, 0.04);
                border-radius: 3px;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    background-color: rgba(9, 30, 66, 0.08);
                }
            }
        }

        .attachment-container {

            header {
                display: flex;
                color: #172b4d;
                align-items: center;
                min-height: 32px;
                margin: 22.2px 0px -5px 12.5px;
                padding: 8px 0;
                position: relative;
                padding-left: 10px;

                .icon-attachment {
                    font-family: trellicons;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    left: -24.7px;
                    top: 3.1px;
                    font-size: 24.2px;
                    @include trelloIconM("\e908");
                }

                h3 {
                    font-weight: 600;
                }
            }

            .attachment-content-container {
                padding: 8px 0;

                margin: 0 0px -5px 26.5px;
                padding-left: 10px;

                .attachment-content {
                    display: flex;

                    img {
                        height: 80px;
                        width: auto;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        margin-left: 40px;
                        margin-top: 10px;
                        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

                        .delete-btn {
                            cursor: pointer;
                            text-decoration: underline;
                        }


                        .icon-card-cover {
                            display: flex;
                            flex-direction: row;
                            @include trelloIconM("\e914");
                            width: fit-content;
                        }

                        .make-cover-BTN {
                            text-decoration: underline;
                            cursor: pointer;
                            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                            // width: 250px;
                        }
                    }

                    .attach-title {
                        // background-color: black;
                        color: #172b4d;
                        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                        font-size: 14px;
                        line-height: 20px;
                        word-wrap: break-word;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    // .details-label-to-add-container {
    //     /* left: 693.188px; */
    //     left: 570px;
    //     top: 125px;
    //     background: #fff;
    //     border-radius: 3px;
    //     box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    //     overflow: hidden;
    //     position: absolute;
    //     height: 350px;
    //     /* -webkit-transform: translateZ(0); */
    //     width: 304px;
    //     z-index: 70;

    //     .details-label-header {
    //         color: #5e6c84;
    //         font-size: 12px;
    //         font-weight: 600;
    //         line-height: 20px;
    //         margin: 0 8px 4px 0;
    //     }

    //     .nd-label-header {
    //         padding-left: 10px;
    //         padding-bottom: 5px
    //     }
    // }

    .labels-modal {
        position: absolute;
        right: -235px;
        top: 127px;
        background-color: $clr6;
        width: 304px;
        z-index: 1;
        border-radius: 3px;
        padding-bottom: 14px;
        cursor: default;

        .modal-layout {
            max-width: 92%;
            margin: 0 auto;
        }

        header {
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #5e6c84;
            margin: 0 auto;
            margin-bottom: 11.5px;
            border-bottom: 1px solid #091e4221;

            span {
                font-size: 14px;
            }

            .close-btn {
                @include trelloIconM("\e91c");
                color: #6b778c;
                font-size: 16px;
                position: absolute;
                right: 11px;
                top: -1.3px;

                &:hover {
                    color: #172b4d;
                }
            }

        }

        .labels-modal-main {
            p {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 12px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 7.6px;
            }
        }

        .details-labels-adding-container {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;

            .label-add-container {
                display: flex;

                button.edit-label-btn {
                    border-radius: 3px;
                    padding: 6px;
                    color: #42526e;
                    font-size: 16px;
                    margin: 0;
                    cursor: pointer;

                    &:hover {
                        background-color: #091e4214;
                        color: #091e42;
                    }

                    .edit-label-icon {
                        @include trelloIconM("\e928")
                    }
                }
            }

            .label-modal-label {
                position: relative;
                width: 242px;
                min-height: 32px;
                border-radius: 3px;
                padding: 3.6px 12px;
                margin-inline-end: 4.5px;
                transition: padding 0.2s;

                &:hover {
                    padding-left: 16px;
                }

                span {
                    line-height: 25px;
                    font-weight: bold;
                    color: white
                }

                span.label-include-v {
                    @include trelloIconM("\e916");
                    align-self: center;
                    position: absolute;
                    font-weight: 400;
                    font-size: 16px;
                    right: 9px;
                    top: 4px;
                }
            }

            .label-modal-label:hover {
                cursor: pointer;

            }

            .add-label-btn {
                color: #172b4d;
                background-color: #091e420a;
                ;
                border-radius: 3px;

                &:hover {
                    background-color: #091e4214;
                    cursor: pointer;
                }
            }
        }
    }


    .icon-archive {
        @include trelloIconM("\e907");

    }

    .details-actions {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
        padding-left: 4px;
    }

    .window-modal-content {
        clear: both;
        margin-bottom: 24px;
        position: relative;

        .text-container-details {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .chat-input-container {
                display: flex;
                align-items: center;
                margin-inline-start: -15.7px;

                img.chat-user-img {
                    width: 30px;
                    border-radius: 50%;
                }
            }

            .details-textarea {
                margin-inline-end: -25px;
                background: #fff !important;
                box-shadow: none;
                box-sizing: initial;
                border: rgb(23 43 77 / 16%) solid 0.5px;
                border-radius: 3px;
                height: 20px;
                resize: none;
                width: 100%;
                line-height: 20px;
                min-height: 19.8px;
                transition: box-shadow 85ms ease;
                cursor: pointer;
                position: relative;
                left: -16.5px;
                top: 1px;

                &:hover {
                    box-shadow: 0 1px 1px #091e4240, 0 0 0 1px #091e4214;
                }
            }
        }

        textarea {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            margin-left: 24.9px;
            min-height: 40px;
            // max-height: 56px;
            width: 511px;
            padding: 8px 12px;
            font-size: 14px;
            resize: none;
            outline: none;
            border: none;
        }

        .window-modal-title {
            color: #172b4d;
            align-items: center;
            display: flex;
            min-height: 32px;
            margin: 22.2px 0px -5px 12.5px;
            padding: 8px 0;
            position: relative;
            padding-left: 10px;

            .description-title {
                font-weight: 600;
            }

            .icon-description {
                @include trelloIconM("\e922");
                position: absolute;
                left: -24.7px;
                top: 3.1px;
                font-size: 24.2px;
            }

            .activity-title {
                font-weight: 600;
            }

            .icon-activity {
                @include trelloIconM("\e900");
                position: absolute;
                left: -24.7px;
                top: 3.1px;
                font-size: 24.2px;
            }

            .task-description {
                padding-left: 60px
            }

            .details-activity-title {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button {
                    cursor: pointer;
                    margin: 0 0 0 8px;
                    -webkit-appearance: none;
                    border: none;
                    border-radius: 3px;
                    box-sizing: border-box;
                    display: inline-block;
                    line-height: 20px;
                    margin-bottom: 8px;
                    padding: 6px 12px;
                    position: relative;
                    background-color: #091e420a;
                    color: #172b4d;
                    text-decoration: none;
                }

                .description-toggle-btn {
                    position: relative;
                    left: 4.3px;
                    bottom: 1px;
                    background-color: rgba(9, 30, 66, 0.04);
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(9, 30, 66, 0.0784313725);
                    }
                }
            }




        }



        .activity-container {
            margin-bottom: -7.8px
        }

        .window-modal-warn {
            color: #5e6c84;
            clear: both;
            padding-left: 50px;
        }
    }

    .side-bar-details {
        width: 100%;

        .details-btn-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-inline-start: 10.5px;


            .sidebar-heading {
                margin: 25.8px 0 -2.1px 4px;
                color: #5e6c84;
                font-size: 12px;
                font-weight: 600;
                line-height: 20px;
            }

            button {
                display: flex;
                text-align: start;
                background-color: rgba(9, 30, 66, 0.04);
                border: none;
                border-radius: 3px;
                box-shadow: none;
                box-sizing: border-box;
                cursor: pointer;
                display: block;
                height: 32px;
                margin-top: 5px;
                max-width: 167px;
                color: #42526e;
                overflow: hidden;
                padding: 6px 4.6px;
                transition-duration: 85ms;
                user-select: none;
                white-space: nowrap;

                &:hover {
                    background-color: #091e4214;
                }

                .icn {
                    margin-inline-end: 0.5em;
                    font-size: 17px;
                    position: relative;
                    top: 1.7px;
                    left: 2.8px;
                }

                .icon-member {
                    @include trelloIconM("\e946");
                }

                .icon-label {
                    @include trelloIconM("\e93f");
                }

                .icon-checklist {
                    @include trelloIconM("\e91a");
                }

                .icon-date {

                    //     // todo fin watch like 
                    * {
                        width: 16px;
                        height: 16px;
                    }
                }

                .icon-attachment {
                    width: 20px;
                    height: 20px;

                    @include trelloIconM("\e908");
                }

                .icon-card-cover {
                    @include trelloIconM("\e914");
                }

                .icon-custom-field {
                    @include trelloIconM("\e920");
                }
            }


        }
    }

    .details-exit-btn {
        background-color: transparent;
        border-radius: 50%;
        color: #42526e;
        height: 32px;
        margin: 8px;
        overflow: hidden;
        padding: 4px;
        position: absolute;
        right: 0;
        transition: background-color 85ms, color 85ms;
        width: 32px;
        z-index: 2;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
        }

        .card-details-exit-btn {
            font-family: trellicons;
            font-size: 20px;

            &::before {
                content: "\e91c";
                color: #42526e;
            }
        }

    }

    .details-clr-reg-hvr {
        &.without-text {

            background-color: rgba(9, 30, 66, 0.04);

            &:hover {
                background-color: #091e4214;
                border: none;
                box-shadow: none;
            }
        }

        &:hover {
            cursor: pointer;
            // background-color: rgba(9, 30, 66, 0.0784313725);
        }
    }

}

.attachment-modal {
    cursor: default;
    z-index: 100;
    background-color: white;
    position: absolute;
    width: 304px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    align-items: center;
    top: 104px;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;

    padding-inline-start: 10px;
    padding-inline-end: 10px;

    .a-m-header {
        width: 100%;
        border-bottom: 1px solid #091e4221;
        box-sizing: border-box;
        color: #5e6c84;
        line-height: 40px;
        margin: 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        height: 40px;
        text-align: center;

        .icon-close {
            @include trelloIconM("\e91c");
            // padding: 10px 12px 10px 8px;
            padding-left: 10px;
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 16px;
            cursor: pointer;
            color: #6b778c;

            &:hover {
                color: #172b4d;
            }

        }

    }

    .a-m-content {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .attachment-modal {
            align-self: center;
            display: flex;
            align-items: center;
            border-radius: 3px;
            width: 100%;
            height: 32px;
            // margin-inline-start: 12px;
            padding-left: 12px;

            &:hover {
                cursor: pointer;
                background-color: #091e420a;
            }

        }


    }

    .img-upload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .uploader {
            display: flex;
            align-self: center;
            align-items: center;
            cursor: pointer;
            height: 32px;
            width: 100%;
            border-bottom: 1px solid #091e4221;
            box-sizing: border-box;

            &:hover {
                background-color: #091e420a;
            }
        }

        p {
            color: #5e6c84;
        }
    }

}

.label-action-btn {
    display: flex;
    width: 100%;

    .save-label-btn {
        display: flex;
        align-items: center;
        height: 32px;
        justify-content: start;
        border-radius: 3px;
        background-color: #0079bf;
        color: white;
        padding-left: 24px;
        padding-right: 24px;

        &:hover {
            background-color: #026aa7;
            cursor: pointer;
        }
    }

    .delete-label-btn {
        display: flex;
        align-items: center;
        height: 32px;
        margin-left: 115px;
        border-radius: 3px;
        background-color: #b04632;
        padding-left: 24px;
        padding-right: 24px;
        color: white;

        &:hover {
            background-color: #933b27;
            cursor: pointer;
        }
    }

}

.labels-colors-opt {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;

    .label-color {
        height: 32px;
        width: 48px;
        border-radius: 3px;
        margin: 0 7.9px 8px 0;
        margin-bottom: 10px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;

        }
    }
}

input[name=txtLabel] {
    width: 100%;
    margin-bottom: 12px;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #fafbfc;
    border-bottom-color: rgb(23, 43, 77);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    transition: background-color 0.085s;

    &:hover {
        background-color: #ebecf0;
        box-shadow: inset 0 0 0 2px #dfe1e6;
    }

    &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }
}