// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

.text-center {
    text-align: center;
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.opacity-button {
    margin: 0;
    border-radius: 3px;
    background-color: #ffffff3d;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background-color: #ffffff52;
    }
}

.icon-plus {
    font-family: trellicons;
    height: 20px;
    width: 20px;

    &::before {
        content: "\e901";
        height: 20px;
        width: 20px;
    }
}

// span.icons{
//     font-family: trellicons;
//     height: 20px;
//         width: 20px;
//     &::before{
//         content:"\e951";
//         height: 20px;
//         width: 20px;
//     }
// }
