.details-mem-img-cont {
    display: flex;
    flex-direction: column;
    margin-inline-end: 34.7px;
    position: relative;
    top: 3px;
}
.img-cont-mm{
    margin-inline-start:0.8px;
    position: relative;
    top: 3.5px;
    .userImg{
        margin-inline-end: 2.2px;
    }
}

.details-member-header {
    color: #5e6c84;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    line-height: 20px;
    margin: 0 8px 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom:1px;
}

.member-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    width: 304px;
    z-index: 100;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    top: 87px;
    right: -5px;
    padding-bottom: 8px;
    .member-modal-ext-btn{
        position: absolute;
        display: flex;
        justify-self: center;
        align-items: center;
        width: 40px;
        background-color: white;
        height: 40px;
        top: 0;
        right: 0;
        padding-right: 5px;
        cursor: pointer;
        span{
            color: #6b778c;
            font-size: 16px;
            font-weight: 400;
            @include trelloIconM("\e91c");
        }
        span:hover{
            color: #172b4d;
        }
    }
}

.board-members-details span {
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
}

.member-modal h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
    padding-bottom: 8px;
}

.member-modal header {
    height: 41px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    border-bottom: rgba(128, 128, 128, 0.259) solid 0.4px;
}

.member-modal input {
    margin-top: 4px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.member-modal-input {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.member-modal-input input {
    -webkit-appearance: none;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    width: 280px;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;

}

.board-members-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mmbr-include-v{
    @include trelloIconM("\e916");
    align-self: center;
    // justify-self: flex-end;
    position: absolute;
    font-size: 16px;
    right: 15px;
}
.inner-container-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 40px;
    cursor: pointer;
}

.details-mem-img-cont h2 {
    margin: 0;
}

.inner-container-details:hover {
    background-color: #e4f0f6;
}

.inner-container-details img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}